body {
    background-color: black;
}

h1 {
    text-align:center;
}

p {
    color:white;
    text-align:center;
    margin:0 auto;
    max-width: 650px;
}

a {
    color: turquoise;
    font-size: 20px;
}